.ssNotification {

    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000000000;
    top:-4rem;

    animation-name: notification;
    animation-duration: 2s;
    animation-iteration-count: 1;

    @keyframes notification {
        0% {top: -4rem;}
        25% {top: 3rem;}
        85% {top: 3rem;}
    }

    .ssNContent {
        //content: 'Screenshot copied to clipboard!';
        position: absolute;
        z-index: 1000000000;
        padding: .75rem 1.25em;
        margin-bottom: 1em;
        border: 1px solid transparent;
        border-radius: .25em;
        font-size: 12px;
        height: fit-content;
        top:0;

        &.success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }
    
        &.fail {
            background-color: #edd4d4;
            border-color: #e6c3c3;
            color: #b62424;
        }
    }

}